.bold {
    font-weight: bold;
}

ion-chip.verde {
    --background: #008a35;
    --color: #bcffe1;
  }

  ion-chip.rojo {
    --background: #ad0000;
    --color: #ffbcbc;
  }

  ion-card-title.ion-inherit-color.md.hydrated {
    text-align: center;
}

.iconoheader {
    margin-left: 20px;
    color: #ffffff;
}



.cardimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-spinner {
  --color: #54dc98;
  width: 60px;
  height: 60px;

}