
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="iconoheader" name="custom-visibles" slot="start"></ion-icon>
    <ion-title>
      
      Evidencias a la vista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container">
    <div>
      <h1 class="ion-margin ion-text-center">Captura el VIN (OCR)</h1>
    </div>
    <div class="cuerpo formulario" *ngIf="!mostrarResutlado">
      <p class="ion-margin ion-text-center" style="color: #8c8c8c;">Captura al menos dos imagenes para comparar los datos obtenidos. Si coinciden los 4 valores obtenidos se realizara la decodificacion del VIN</p>
      <div *ngIf="vinDecodificado">
        <h2 class="ion-text-center">Decodificacion del VIN</h2>
        <ion-item>
          <ion-label>
            <h2>Fabricante</h2>
            <p>{{ consultaNHTSA.marca }}</p>
          </ion-label>
        </ion-item>
        <ion-item>

          <ion-label>
            <h2>Marca</h2>
            <p>{{ consultaNHTSA.modelo }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Modelo</h2>
            <p>{{ consultaNHTSA.anioModelo }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Pais</h2>
            <p>{{ consultaNHTSA.pais }}</p>
          </ion-label>
        </ion-item>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card >
              <img alt="parabrisas" class="cardimage" src="{{ urlParabrisas }}" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('parabrisas')">
                    <ion-icon *ngIf="!capturaParabrisas" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaParabrisas" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="puerta" class="cardimage" src="{{ urlPuerta }}" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('puerta')">
                    <ion-icon *ngIf="!capturaPuerta" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaPuerta" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="{{ urlFactura }}" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('factura')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="{{ urlTarjetaCirculacion }}" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('tarjeta-circulacion')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="mostrarTablaComparacion">
        <h1 class="ion-text-center">Tabla de comparación</h1>
        <ion-item class="my-5" *ngIf="mostrarVinParabrisas" >
          <ion-icon name="custom-parabrisas" slot="start"></ion-icon>
          <ion-label ><p>Parabrisas</p><h2 class="bold">{{ resultadoVinParabrisas }}</h2>  </ion-label>
          <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
        </ion-item>
        <ion-item class="my-5" *ngIf="mostrarVinPuerta">
          <ion-icon name="custom-puerta" slot="start"></ion-icon>
          <ion-label  ><p>Puerta</p><h2 class="bold">{{ resultadoVinPuerta }}</h2></ion-label>
          <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
        </ion-item>
        <ion-item class="my-5" *ngIf="mostrarVinFactura">
          <ion-icon name="custom-factura" slot="start"></ion-icon>
          <ion-label  ><p>Factura</p><h2 class="bold">{{ resultadoVinFactura }}</h2></ion-label>
          <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
        </ion-item>
        <ion-item class="my-5" *ngIf="mostrarVinTarjeta">
          <ion-icon name="custom-tarjeta-circulacion" slot="start"></ion-icon>
          <ion-label  ><p>Tarjeta de circulación</p><h2 class="bold">{{ resultadoVinTarjeta }}</h2></ion-label>
          <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
        </ion-item>
      </div>
      <div class="cuerpo" *ngIf="mostrarIcono">
        <p *ngIf="colorResultado == 'rojo'"  class="ion-margin" >La comparación de los VINs no coincide, es probable se tenga un problema </p>
        <!-- *ngIf="colorResultado == 'verde'"  -->
      </div>
      <ion-button expand="block" style="margin-top: 30px;" shape="round"
        (click)="linkCapturaFotos(validacionId)">Siguiente</ion-button>
      <ion-button expand="block" style="margin-top: 30px;" shape="round"
        (click)="linkHome(validacionId)">Regresar</ion-button>
    </div>

    <ion-alert
      [isOpen]="isAlertOpen"
      header="Validar VIN obtenido"
      message="{{mensajeAlert}}"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
    ></ion-alert>
    <!-- 
    <ion-button expand="block"  style="margin-top: 30px;" id="open-loading" (click)="IconoResultado()">Comparar resultados</ion-button>
    <ion-loading class="custom-loading"  trigger="open-loading" message="Comparando resultados" [duration]="3000"></ion-loading> -->
  </div>
</ion-content>
