
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="iconoheader" name="custom-visibles" slot="start"></ion-icon>
    <ion-title>
      
      Evidencias a la vista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container">
    <div class="cuerpo formulario" *ngIf="!mostrarResutlado">
      <p class="ion-margin ">Captura al menos dos imagenes para comparar los datos obtenidos. </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card >
              <img alt="parabrisas" class="cardimage" src="../../../assets/botonesVisibles/parabrisas.png" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('parabrisas')">
                    <ion-icon *ngIf="!capturaParabrisas" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaParabrisas" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="puerta" class="cardimage" src="../../../assets/botonesVisibles/puerta.png" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('puerta')">
                    <ion-icon *ngIf="!capturaPuerta" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaPuerta" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/factura.png" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('factura')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/tarjeta-circulacion.png" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="capturaOCR('tarjeta-circulacion')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- Fotos vehículo -->
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/frente.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('frente')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/atras.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('atras')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/lateral_derecho.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('lateral_derecho')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/lateral_izquierdo.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('lateral_izquierdo')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/exterior_1.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('exterior_1')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/exterior_2.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('exterior_2')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/motor.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('motor')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/cajuela.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('cajuela')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/tablero.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('tablero')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/interior_1.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('interior_1')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/interior_2.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('interior_2')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/interior_3.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('interior_3')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <img alt="factura" class="cardimage" src="../../../assets/botonesVisibles/interior_4.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('interior_4')">
                    <ion-icon *ngIf="!capturaFactura" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaFactura" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img alt="tarjeta-circulacion" class="cardimage" src="../../../assets/botonesVisibles/interior_5.webp" />
              <ion-card-header>
                <ion-card-title>
                  <ion-button shape="round" (click)="agregaFoto('interior_5')">
                    <ion-icon *ngIf="!capturaTarjetaCirculacion" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaTarjetaCirculacion" name="checkmark"></ion-icon>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>



      </ion-grid>

      <ion-alert
        [isOpen]="isAlertOpen"
        header="Validar VIN obtenido"
        message="{{mensajeAlert}}"
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
      ></ion-alert>
<!-- 
      <ion-button expand="block"  style="margin-top: 30px;" id="open-loading" (click)="IconoResultado()">Comparar resultados</ion-button>
      <ion-loading class="custom-loading"  trigger="open-loading" message="Comparando resultados" [duration]="3000"></ion-loading> -->
    </div>
    <div *ngIf="mostrarTablaComparacion">
      <h1>Tabla de comparación</h1>
      <ion-item class="my-5" *ngIf="mostrarVinParabrisas" >
        <ion-icon name="custom-parabrisas" slot="start"></ion-icon>
        <ion-label ><p>Parabrisas</p><h2 class="bold">{{ resultadoVinParabrisas }}</h2>  </ion-label>
        <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
      </ion-item>
      <ion-item class="my-5" *ngIf="mostrarVinPuerta">
        <ion-icon name="custom-puerta" slot="start"></ion-icon>
        <ion-label  ><p>Puerta</p><h2 class="bold">{{ resultadoVinPuerta }}</h2></ion-label>
        <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
      </ion-item>
      <ion-item class="my-5" *ngIf="mostrarVinFactura">
        <ion-icon name="custom-factura" slot="start"></ion-icon>
        <ion-label  ><p>Factura</p><h2 class="bold">{{ resultadoVinFactura }}</h2></ion-label>
        <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
      </ion-item>
      <ion-item class="my-5" *ngIf="mostrarVinTarjeta">
        <ion-icon name="custom-tarjeta-circulacion" slot="start"></ion-icon>
        <ion-label  ><p>Tarjeta de circulación</p><h2 class="bold">{{ resultadoVinTarjeta }}</h2></ion-label>
        <ion-chip class="{{colorResultado}}" *ngIf="mostrarIcono"><ion-icon name="{{iconoResultado}}"></ion-icon></ion-chip>
      </ion-item>
    </div>
    <div class="cuerpo" *ngIf="mostrarIcono">
      <p *ngIf="colorResultado == 'rojo'"  class="ion-margin" >La comparación de los VINs no coincide, es probable se tenga un problema </p>
      <ion-button *ngIf="colorResultado == 'verde'" expand="block"  style="margin-top: 30px;" shape="round" (click)="linkCapturaOBD(validacionId)" >Siguiente</ion-button>
      <ion-button expand="block"  style="margin-top: 30px;" shape="round" (click)="linkHome(validacionId)" >Cencelar</ion-button>
    </div>


  </div>

</ion-content>
