.bold {
    font-weight: bold;
}

ion-chip.verde {
    --background: #008a35;
    --color: #bcffe1;
  }

  ion-chip.rojo {
    --background: #ad0000;
    --color: #ffbcbc;
  }

  ion-card-title.ion-inherit-color.md.hydrated {
    text-align: center;
}