
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visibles 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container">
    <div class="cuerpo formulario" *ngIf="!mostrarResutlado">
      <ion-item class="my-5">
        <ion-label >VIN en puerta</ion-label>
          <ion-button slot="end" expand="block" shape="round" (click)="fotoPuertaCapturada()"><ion-icon name="camera-outline"></ion-icon></ion-button>
          <!-- <ion-button slot="end" expand="block" shape="round" (click)="capManualPuerta()"><ion-icon name="text-outline"></ion-icon></ion-button> -->
      </ion-item>
      <ion-alert
        [isOpen]="isAlertOpen"
        header="Validar VIN obtenido"
        message="{{vinPuerta}}"
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
      ></ion-alert>
      <!-- <ion-item *ngIf="capturaManualPuerta">
          <ion-input label="VIN obtenido" labelPlacement="floating" placeholder="VIN" value="{{vinPuerta}}"></ion-input>
          <ion-button slot="end" expand="block" id="guardar" shape="round" (click)="guardarCapManualPuerta()"><ion-icon name="save-outline"></ion-icon></ion-button>
          <ion-loading class="custom-loading"  trigger="guardar" message="Guardando VIN" [duration]="1000"></ion-loading>
      </ion-item> -->

      <!-- <ion-item *ngIf="fotoPuerta">
        <ion-img
          src="../../../assets/fotosOcr/ocrPuerta.jpg"
        ></ion-img>
      </ion-item> -->
      <ion-item>
        <ion-label >VIN en parbrisas</ion-label>
        <ion-button expand="block" shape="round" (click)="fotoParabrisasCapturada()"><ion-icon name="camera-outline"></ion-icon></ion-button>
        <ion-button slot="end" expand="block" shape="round" (click)="capManualParabrisas()"><ion-icon name="text-outline"></ion-icon></ion-button>
      </ion-item>
      <ion-item *ngIf="capturaManualParabrisas">
        <ion-input label="Captura manual" labelPlacement="floating" placeholder="VIN"></ion-input>
        <ion-button slot="end" expand="block" shape="round" (click)="capManualParabrisas()"><ion-icon name="save-outline"></ion-icon></ion-button>
    </ion-item>
      <ion-item *ngIf="fotoParabrisas">
        <ion-img
        src="../../../assets/fotosOcr/ocsParabrisas.jpg"
        ></ion-img>
      </ion-item>
      <ion-button expand="block"  style="margin-top: 30px;" id="open-loading" (click)="validarCaptura()">Validar captura</ion-button>
      <ion-loading class="custom-loading"  trigger="open-loading" message="Validando el VIN" [duration]="3000"></ion-loading>
    </div>
    <div class="cuerpo" *ngIf="mostrarResutlado">
      <ion-item >
        <ion-label class="m-5">VIN obtenido </ion-label>
        <p style="font-size: 13px;">{{casoJson.visibles.vin}} <p>
      </ion-item>
      <ion-button expand="block"  style="margin-top: 30px;" shape="round" (click)="linkCapturaOBD(caso)" >Siguiente</ion-button>
    </div>


  </div>

</ion-content>
