<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inspeccion 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <div id="container">
    <div>
      <h1 class="ion-margin ion-text-center">Proceso de inspeccion </h1>
      <p class="ion-margin ion-text-center " style="color: #8c8c8c;">{{validacionId}}  |  {{ fechaInicialInspeccion }}</p>
    </div>
    <div class="cuerpo formulario">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card >
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  <p>Captura de fotos para la validacion del VIN </p> 
                  <ion-button shape="round" (click)="link('ocr')">
                    <ion-icon *ngIf="ocrConcluido" name="checkmark"></ion-icon>
                    <p  *ngIf="!ocrConcluido" >OCR</p>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  <p>Captura de fotos del vehiculo en distintos angulos</p> 
                  <ion-button shape="round" (click)="link('fotos')">
                    <ion-icon *ngIf="fotosConcluido" name="checkmark"></ion-icon>
                    <p  *ngIf="!fotosConcluido" >Fotos</p>
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card >
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  <p>Captura de datos mediante el protocolo OBD II</p> 
                  <ion-button shape="round" (click)="link('obd')">
                    <ion-icon *ngIf="obdConluido" name="checkmark"></ion-icon>
                    <p  *ngIf="!obdConluido" >OBD II</p>                   
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  <p>Verificacion de datos con la credencial para votar</p> 
                  <ion-button shape="round" (click)="link('ine')">
                    <!-- <ion-icon *ngIf="!capturaPuerta" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaPuerta" name="checkmark"></ion-icon> -->
                    INE
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card >
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  <p>Consulta de historial vehicular</p> 
                  <ion-button shape="round" (click)="link('carfax')">
                    <!-- <ion-icon *ngIf="!capturaParabrisas" name="camera-outline"></ion-icon>
                    <ion-icon *ngIf="capturaParabrisas" name="checkmark"></ion-icon> -->
                    CARFAX
                  </ion-button>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button  style="margin-top: 30px;" expand="block" shape="round" (click)="link('resultado')">
              Ver resultado 
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

  </div>
</ion-content>

